
List your 3 Favorite Numbers <%=name%> 

<form method="post" action="/age">
	<input type="number" name = "user_age">
	<input type= "submit">
	<input type="hidden" name = "user_name" value = <%=name%>
</form>
	